body{
	background: #edeff1;
}
.header {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #00aeef;
	height: 1.25rem;
	font-size: 0.458333rem;
	color: white;
}
.header a{
	color: white;
}
.header .left,
.header .right {
	width: 2.777777rem;
	margin-left: 0.5rem;
}

.header .center {
	width: 4.444444rem;
	/*border: 1px solid white;*/
	/*height: 1.041666rem;*/
	flex-grow: 1;
	/*声明子项目默认栈剩余空间*/
	/*display: flex;*/
	text-align: center;
}

.form{
	width: 100%;
	height: 2.777777rem;
	background-color: white;
	margin-top: 0.638888rem;
	border-bottom: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
}

.form input{
	border: 0px;
	width: 7.569444rem;
	height: 0.625rem;
	font-size: 0.416666rem;
}

input{outline:none;}

.form .username{
	height: 1.388888rem;
	width: 90%;
	line-height: 1.388888rem;
	border-bottom: 1px solid #d1d1d1;
	margin: 0px 0.416666rem;
	font-size: 0.416666rem;
}

.form .pass{
	height: 1.388888rem;
	width: 90%;
	line-height: 1.388888rem;
	/*border-bottom: 1px solid #d1d1d1;*/
	margin: 0px 0.416666rem;
	font-size: 0.416666rem;
}
.form .pass span,.form .username span{
	margin-left: 0.451388rem;
	color: #7a7a7a;
}

button{
	width: 90%;
	height: 1.041666rem;
	text-align: center;
	background-color: #00c18d;
	border: 0rem;
	border-radius: 0.173611rem;
	font-size: 0.416666rem;
	color: white;
	margin-top: 0.625rem;
	margin-left: 5%;
}
.registered{
	margin-top: 0.472222rem;
	margin-left: 0.4375rem;
}
.registered a{
	font-size: 0.416666rem;
	text-decoration: none;
	color: #51bded;
}
.registered .right{
	float: right;
	margin-right: 0.4375rem;
}

button a{
	color: white;
	text-decoration: none;
}
